<form (submit)="onAddPost(postFrom)" #postFrom="ngForm">
  <mat-card>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          ngModel
          placeholder="Title"
          required
          minlength="1"
          #title="ngModel">
          <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="2"
          name="content"
          ngModel
          placeholder="Details"
          required
          #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Please enter details</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit">Save Post</button>
    </mat-card>
</form>

